<main>
    <div class="container text-center">
        <h1>About ABQ Street Art</h1>
        <br>
        <p>ABQ Street Art was built by our fantastic team: Erin, Mary, Nathaniel, and Sam!</p>
        <p>ABQ Street Art is an interactive web application that allows users to search for and bookmark murals, sculptures, and other public art in Albuquerque. Our goal when creating this project was to give Albuquerque residents and visitors a tool to discover, explore, and appreciate the wonderful public art our city has to offer.</p>
        <br>
        <br>
        <br>
        <p>computers amirite? ¯\_(ツ)_/¯</p>
        <img class="powerstance img-fluid" src="dumb.jpg" alt="power stance">
        <br>
        <br>
        <br>
        <h4>Want to check out the site? Here are the links!</h4>
        <br>
        <h5><a href="http://bit.ly/abqstreetart">bit.ly/abqstreetart</a></h5>
        <h5><a href="http://www.abqstreetart">abqstreetart.com</a></h5>
        <br>
        <br>
        <br>
    </div>
</main>