<!--Master HTML used for the entire project. Keep it as plain as possible.-->

<!DOCTYPE html>
<html>
	<head>
		<!--We don't have to include any Angular tags in the header - Web Pack will take care of that for us-->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--Base tag tells where all files are linked or relative to. Comes into play with relative links. Always to your index HTML template.-->
		<base href="." />

		<title>ABQ Street Art</title>
	</head>
	<body>
		<!--You can create your own tags in Angular. References the app.component.ts file. These must match!!-->
		<!--This is the door.-->
		<angular5-example-app>Loading&hellip;</angular5-example-app>
	</body>
</html>

