<main>
    <div class="container text-center">
        <h1>Sign Up for ABQ Street Art!</h1>
        <form [formGroup]="signUpForm" class="form-control-lg" id="form" action="" method="post" (submit)="createSignUp();" novalidate>
            <div class="info">

                <!--profileUserName-->
                <input class="form-control" id="profileUserName" type="text" name="name" placeholder=" User Name" formControlName="profileUserName"/>
                <div class="alert alert-danger" *ngIf="signUpForm.controls.atHandle?.invalid && signUpForm.controls.profileUserName?.touched">
                    <p *ngIf="signUpForm.controls.profileUserName?.errors.maxlength">Username is too long</p>
                    <p *ngIf="signUpForm.controls.profileUserName?.errors.required">Username required</p>
                </div>

                <!--profileEmail-->
                <input class="form-control" id="profileEmail" type="email" name="email" placeholder=" Email" formControlName="profileEmail"/>
                <div class="alert alert-danger" *ngIf="signUpForm.controls.profileEmail?.invalid && signUpForm.controls.profileEmail?.touched">
                    <p *ngIf="signUpForm.controls.profileEmail?.errors.maxlength">email is too long</p>
                    <p *ngIf="signUpForm.controls.profileEmail?.errors.required">valid email address is required</p>
                </div>

                <!--profilePassword-->
                <input class="form-control" id="profilePassword" type="password" name="password" placeholder=" Password" formControlName="profilePassword">
                <div class="alert alert-danger" *ngIf="signUpForm.controls.profilePassword?.invalid && signUpForm.controls.profilePassword?.touched">
                    <p *ngIf="signUpForm.controls.profilepassword?.errors.maxlength">Password is too long</p>
                    <p *ngIf="signUpForm.controls.profilePassword?.errors.required">Valid password required</p>
                </div>

                <!--profilePasswordConfirm-->
                <input class="form-control" id="profilePasswordConfirm" type="password" name="password-confirm" placeholder=" Re-enter Password" formControlName="profilePasswordConfirm">
                <div class="alert alert-danger" *ngIf="signUpForm.controls.profilePasswordConfirm?.invalid && signUpForm.controls.profilePasswordConfirm?.touched">
                    <p *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.maxlength">Password is too long</p>
                    <p *ngIf="signUpForm.controls.email?.errors.required">Valid password required</p>
                </div>


                <input class="btn" type="submit" value="Sign Up!">
                <div *ngIf="status !== null" class="alert alert-secondary alert-dismissible" [ngClass]="status.type" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>
                    {{ status.message }}
                </div>
            </div>
        </form>
    </div>
</main>
