<phpunit>
    <testsuites>
        <testsuite name="ABQ Street Art Test">
            <file>ArtTest.php</file>
            <file>ProfileTest.php</file>
            <file>BookmarkTest.php</file>
            <file>CommentTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">..</directory>
        </whitelist>
    </filter>
</phpunit>