@import "https://fonts.googleapis.com/css?family=Oswald";

a {
	color: rgb(252, 216, 33);
}

.black {
	background-color: black;
}

body {
	background-color: rgb(32, 32, 32);
}

.btn {
	border-color: rgb(252, 216, 33);
	color: rgb(252, 216, 33);
	background-color: transparent;
}

.btn:hover {
	background-color: rgb(252, 216, 33);
	color: white;
}

.card {
	background-color: black;
	padding: 1.5em;
}

.close {
	color: rgb(252, 216, 33);
	opacity: 1;
	text-shadow: none;
}

.close:hover {
	color: rgb(176, 145, 31);
}

.form-control {
	margin-bottom: 1rem;
}

.gray {
	background-color: rgb(32, 32, 32);
}

a:hover {
	color: rgb(176, 145, 31);
}

.list-group-item {
	background-color: rgb(32, 32, 32);
}

.logo {
	height: 10vh;
}

main {
	font-family: 'Oswald', sans-serif;
	color: rgb(252, 216, 33);
}

.map-image {
	height: 25vh;
	width: auto;
}


.map-text {
	background-color: black;
}

.modal-footer, .modal-header {
	border: none;
}

.name {
	font-weight: bolder;
	font-size: larger;
}

.navbar{
	color: rgb(252, 216, 33);
	font-family: 'Oswald', sans-serif;
}

ngui-map {
	height: 75vh !important;
	background-color: black;
}

.yellow {
	color: rgb(252, 216, 33);
	font-family: 'Oswald', sans-serif;
}






/*keep this stuff after the btn stuff for the green submit button*/
.green {
	border-color: rgb(50, 215, 54);
	color: rgb(50, 215, 54);
	background-color: transparent;
}

.green:hover {
	background-color: rgb(50, 215, 54);
	color: white;
}