<div>
    <div class="row">
        <div class="col-12">

            <!-- this is the google map :P~ -->
            <ngui-map zoom="13" center="Albuquerque, New Mexico">
                <marker *ngFor="let art of arts" [position]="[art.artLat, art.artLong]" (click)="clicked($event)" (click)="displayArt(art)"></marker>
               <info-window id="art-details">
                  <div class="map-text p-3 ml-3 text-center"><img class="card-img-top p-1 art-image" src="{{ art.artImageUrl }}" alt="Art image caption">
                      <br>
                      <br>
                     <strong>Title:</strong> {{art.artTitle}}
                      <br>
                      <br>
                      <a [routerLink]="'/art/' + art.artId">Click <strong>here</strong> for more about this art piece.</a>
                  </div>
               </info-window>
            </ngui-map>

        </div>
    </div>
</div>
