<div>
    <div class="row">
        <div class="col-12">

            <!-- this is the google map :P~ -->
            <ngui-map zoom="13" style="height: 75vh;" center="Albuquerque, New Mexico">
                <marker *ngFor="let art of arts" [position]="[art.artLat, art.artLong]" (click)="clicked($event)" (click)="displayArt(art)"></marker>
               <info-window id="art-details">
                  <div style="color: black;"><img class="card-img-top p-1" src="{{ art.artImageUrl }}" alt="Art image caption" style="height: 25vh; width: auto"> {{art.artTitle}}
                  </div>
               </info-window>
            </ngui-map>

        </div>
    </div>
</div>
