<div>
    <div class="row">
        <div class="col-12">

            <!-- this is the google map :P~ -->
            <ngui-map zoom="13" center="Albuquerque, New Mexico">
                <marker *ngFor="let art of arts" [position]="[art.artLat, art.artLong]" (click)="clicked($event)" (click)="displayArt(art)"></marker>
               <info-window id="art-details">
                  <div class="map-text"><img class="card-img-top p-1 map-image" src="{{ art.artImageUrl }}" alt="Art image caption"> {{art.artTitle}}
                  </div>
               </info-window>
            </ngui-map>

        </div>
    </div>
</div>
