
<header>
    <div class="container-fluid p-0 black">
        <nav class="navbar navbar-expand-lg">
            <a routerLink=""><img src="logo1.svg" alt="logo" class="logo"></a>
            <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="about-us" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="sign-up" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <!-- link trigger modal -->
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#signInModal">Sign In</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                            <div class="dropdown-menu black " aria-labelledby="navbarDropdown">
                                <a routerLink="signed-in-homeview" class="dropdown-item yellow">My Bookmarks</a>
                                <a routerLink="update-profile" class="dropdown-item yellow">Update Profile</a>
                            </div>
                    </li>
                    <li class="nav-item ">
                        <a routerLink="" class="nav-link" (click)="signOut();">Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
